@import 'styles/breakpoints';

.itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
  }

@media screen and (max-width: $mobile-sm) {
    .itens {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: $mobile-sm) and (max-width: $tablet){
    .itens {
        grid-template-columns: 1fr 1fr;
    }
}

